<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<h1>
    Creer user
</h1>
<body>
<form class="flex flex-col gap-2" action="#" th:action="@{/user/creer}" method="post" th:object="${users}">
    <div>
        <label>username :</label>
        <input type="text" th:field="*{username}"/>
    </div>
    <div>
        <label>date naissance :</label>
        <input type="date" th:field="*{dateNaissance}"/>
    </div>
    <div>
        <label>email :</label>
        <input type="email" th:field="*{email}"/>
    </div>
    <div>
        <label>password :</label>
        <input type="password" th:field="*{password}"/>
    </div>
    <div>
        <label>enabled :</label>
        <input type="text" th:field="*{enabled}"/>
    </div>
    <div>
        <label class="font-bold">Livres</label>
        <select th:field="*{livres}">
            <option th:each="l : ${livres}" th:value="${l.id}" th:text="${l.nom}"></option>
        </select>
    </div>
    <button type="submit">valider</button>
</form>
<div>
    <a href="http://localhost:8080/">Retourner a l'accueil</a>
</div>
</body>
</html>