<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<h1>
    Détail client
</h1>
<div data-th-each="u : ${user}">
    <div><span>nom :</span><span data-th-text="${u.username}"></span></div>
    <div><span>date de naissance :</span><span data-th-text="${u.dateNaissance}"></span></div>
    <div>email :<span></span><span data-th-text="${u.email}"></span></div>
    <div>mot de passe :<span></span><span data-th-text="${u.password}"></span></div>
    <div>enabled :<span></span><span data-th-text="${u.enabled}"></span></div>
</div>
<div>
    <a href="http://localhost:8080/">Retourner a l'accueil</a>
</div>
</html>